.App {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.joke-list {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(156, 156, 156);
}

.joke-card {
  display: flex;
  flex-flow: column wrap;
  background: white;
  border-radius: 2px;
  padding: 10px 10px 15px;
  margin: 10px;
}